.lessbottomcaption{
	bottom: 0 !important;
	line-height:53px;
	padding-top: 10px !important;
	padding-bottom: 0 !important;
	padding-right: 10px;
	padding-left: 10px;
	color:#fff;
	background: rgba(#6f5d4f, 0.8);
	background-position: right center;
	background-repeat: no-repeat;
	width:40%;
	text-align: left;
}

.marbleDetailcaption{
	bottom: 0 !important;
	line-height:53px;
	padding-top: 10px !important;
	padding-bottom: 0 !important;
	padding-right: 10px;
	padding-left: 10px;
	color:#fff;
	background: rgba(#6f5d4f, 0.8);
	background-position: right center;
	background-repeat: no-repeat;
	width:40%;
	text-align: left;
}

.adjustHeader{
	h3{
		margin-bottom: 32px;
		margin-top: 20px;
		line-height: 36px;
	}
}

h3{
	line-height:36px;
	font-size: 24px !important;
}